.box-container,.head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 350px;
    right: 0

    
  }

  .box {
    width: 50%;
    margin: 5px;
    padding: 10px;
    line-height: 25px;
    float: right;
    border-radius: 4px;
    border: 1px 
    solid #999;
    background-color: rgba(202, 169, 255, 0.192);
  }
  .box img{
    max-width:50px;
    max-height: 50px;
    border-radius: 5px;
    margin: 5px;
  }
  
  .clearboth {
    clear: both;
  }

  .root{
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
  }

  .bullet {
    display: inline-block;
    margin: 2px;
    transform: scale(0.8);
  }

  .title {
    fontSize: 14;
  }

  .pos {
    marginBottom: 12;
  }
