.job-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; 
  position: relative; 
  margin: 5rem 0; 
}

.job-box-container{
  font-size: small;
  width: 60%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 10px;
  margin: 1rem 0;
  position: relative;
  @media screen and(max-width: 960px){
    display: block;
    width: 90%;
    margin-bottom: 0.5rem;
    padding: 1rem 2rem;
    
  }

  box-shadow: 0px 4px 6px 4px rgba(200, 117, 238, 0.678);

  

  .logo {
    display: flex;
    align-items: center;
    padding-right: 1.5rem;
    
    img {
      width: 5rem;
      height: auto;
      border-radius: 50%;
    }
    
  }

}

.left-content{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1.3rem 0;
  
  .details {
    color: var(--dark-greyish);
  }
}

.right-content{
  display: flex;
  flex-direction: column;
  margin: 5px;

@media screen and(max-width: 960px){
  .button-job{
    max-width: 30%;

  }
  
}
  
 
}