
.btn {
    font-size: 15px;
    padding: 12px 25px;
    border: 0;
    background-color: #836fff;
    background-position: center;
    color: #fff;
    border-radius: 3px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
        &:hover {
            padding: 8px 20px;
            transition: all 0.3s ease-out;
            background: #473c8b;
            
            transition: 250ms;
        }
        &:focus {
        outline: none;
        }
        
    }
    
