.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(90deg, rgb(164, 112, 247),rgb(103, 7, 215));
  height: 25vh;
}
.search-container {
  max-width: 400px;
  width: 100%;
}

.search-container .search-box{
  position: relative;
  height: 50px;
  max-width: 380px;
  margin: auto;
  box-shadow: 0 5px 10px rgb(0, 0, 0.25);
  border-radius: 10px;
}

.search-box input{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}

.search-box .icon{
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  height: 100%;
  border-radius: 0 10px 10px 0;
  text-align: center;
  line-height: 55px;
  font-size: 25px;
  color: #fff;
  background: rgb(207, 35, 250);

}

.dropdown-result {
  border-radius: 10px;
  position: relative;
  width: 330px;
  height: 200px;
  background-color: rgb(201, 176, 248);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 999;
}

.dropdown-result::-webkit-scrollbar {
  display: none;
}

.dropdown-result .result-item {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.result-item p {
  margin-left: 10px;
  cursor: pointer;
}

.search-filter{
  width: 300px;
  max-width: 300px;
}

#clearBtn {
  cursor: pointer;
}